.swiper-pagination-bullet {
  width: 50px !important;
  height: 4px !important;
  background: #ffa920 !important;
  border-radius: 0 !important;
  transition: opacity 0.3s ease-out;
}
.swiper-wrapper {
  cursor: grab !important;
  transition: transform 1s ease 0s !important;
}

.swiper-pagination {
  display: flex !important;
  flex-wrap: nowrap !important;
  padding-inline: 20px;
  justify-content: center !important;
}
