.swiper-pagination-bullet {
  width: 50px !important;
  height: 4px !important;
  background: #ffa920 !important;
  border-radius: 0 !important;
  transition: opacity 0.3s ease-out;
}
.swiper-wrapper {
  transition: transform 0.8s ease 0s !important;
}
